/*Forms*/

  /*Disabled questions*/
  $disabled-question-background: rgba(0,0,0,0.2);
  $disabled-question-color: #fff;
  $disabled-question-button-color: #fff;
  $disabled-question-selected-button: #000;

  /*Right and Left images*/

  $image-height: 90%;
  $image-opacity: 0.5;
  $image-max-height: 98vh;

/*Frontpage*/

  /*Wikitable*/

  $wikitable-border-width: 0.2rem;
  $wikitable-border-color: #aaa;